{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}
<br>
<h1>Change Password</h1>
<hr>
<br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="button is-danger is-outlined is-normal">Change Password</button>
</div>
<ul>
    <li>Your password can't be too similar to your other personal infromation.</li>
    <li>Your password can't be a commonly used password.
    </li>
    <li>Your password can't be entirely numeric. </li>
</ul>
{% endblock %}