{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}

<h1>{{ post.title }}</h1>
<small>By: 
    {{ post.author.first_name }}
    {{post.author.last_name }} - 
    {{ post.post_date }} -

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'update-post' post.pk %}">[Edit]</a>
            
            <a href="{% url 'delete-post' post.pk %}">[Delete]</a>
        {% endif %}
    {% endif %}
    </small>
    <br/>
    <hr>
    <br/>
    {{ post.body|safe }}
    <br/>
    <br/>
    <button class="button is-danger is-outlined is-normal">
        <a href="{% url 'home' %}" >Back</a>
    </button>

    <br/><br/>
    <hr>
    <br/>
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
            {% if liked %}        
                <button type="submit", name="post_id", value="{{ post.id }}" class="btn btn-primary btn-sm" >Unlike</button>
            {% else %}
                <button type="submit" , name="post_id" , value="{{ post.id }}" class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
           <small>         
            Loggin to Like            
            <a class="button is-light" href="{% url 'login' %}">Log in </a>
            <br>
        </small>            
        {% endif %} 
            - {{ total_likes }} Likes
    </form>

{% endblock %}