{% extends 'base.html' %}
{% block title %} Delete Blog Post {% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <br>
    <h1> Delete </h1>
    <hr>
    <h3> Delete: {{ post.title }}</h3>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <br>
            <strong>Are you sure?</strong>
            <br>
            <br>
            <button class="button is-danger is-outlined is-normal">Delete</button>
    </div>
{% else %}
You are not allowed here!
{% endif %}
{% endblock %}